@model blog.Models.Text

@{
    ViewData["Title"] = Model.Content;
}

<br />

<div>
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>
        <p>
            @Html.DisplayFor(model => model.PublishDate)
        </p>
        <br />
        <p>
            @Html.DisplayFor(model => model.Content)
        </p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">删除</a>
</div>
